<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366324475282-e9lv9phaqtrpuokehjtpo8r2m4kroscf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366324475282-e9lv9phaqtrpuokehjtpo8r2m4kroscf</string>
	<key>API_KEY</key>
	<string>AIzaSyCDwcD631wnUGHHuq_eRBnRROJkYy4BmpE</string>
	<key>GCM_SENDER_ID</key>
	<string>366324475282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kristenchen.quizzy</string>
	<key>PROJECT_ID</key>
	<string>quizzy-1d701</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzy-1d701.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366324475282:ios:ffe9efeb75751965a6cd4b</string>
	<key>DATABASE_URL</key>
	<string>https://quizzy-1d701.firebaseio.com</string>
</dict>
</plist>